body	{
		font-family: "source Code Pro", mono space;	
		background-color: rgb(200,200,200);
		text-align: center;
}

h1	{
		font-family: "source Code Pro", mono space;
		text-shadow: 2px 2px 5px black;
		color: pink;

	}

h3	{
		font-family: "source Code Pro", mono space;
		text-shadow: 1px 1px 3px rgb(100,100,100);
		margin: 25px;
}

a	{
	font-family: "source Code Pro", mono space;
}