body	{
		font-family: "source Code Pro", mono space;	
		background-color: rgb(200,200,200);
		text-align: center;
}

h1	{
		font-family: "source Code Pro", mono space;
		text-shadow: 3px 3px 6px black;
		color: pink;

	}

h3	{
		font-family: "source Code Pro", mono space;
		text-shadow: 2px 2px 4px rgb(100,100,100);
		margin: 25px;
}

a	{
	font-family: "source Code Pro", mono space;
	color: pink;
	text-shadow: 2px 2px 5px black;
}